/* Jost Font */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Jost", sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Additonal custom styles */
.max-width {
    @apply max-w-[1380px] mx-auto px-4;
}

.active {
    @apply text-base font-semibold uppercase px-5 py-2.5  text-navy bg-white rounded-lg;
}
